<%- include('partials/header') -%>
<div class="container">
  <div class="row mt-5">
      <div class="col-6">
          <div>
              <p><strong>User Name</strong>: <%= user.userName %></p>
              <p><strong>Email</strong>: <%= user.email %></p>
          </div>
          <div class="mt-5">
            <h2>Add a post</h2>
            <form action="/post/createPost" enctype="multipart/form-data" method="POST">
              <div class="mb-3">
                  <label for="title" class="form-label">Location Name</label>
                  <input type="text" placeholder="Type here" class="input input-bordered w-full max-w-xs" id="title" name="title"/>
              </div>
              <div class="mb-3">
                <label for="caption" class="form-label">Street Address</label>
                <textarea class="input input-bordered w-full max-w-xs" id="caption" name="caption"></textarea>
              </div>
                <label for="caption" class="form-label">Zip Code</label>
                <textarea class="input input-bordered w-full max-w-xs" id="zip" name="zip"></textarea>
            </div>
              <div class="mb-3">
                <label for="caption" class="form-label">Amount Split</label>
                <textarea class="input input-bordered w-full max-w-xs" id="split" name="split"></textarea>
              </div>
              <button type="submit" value= "Upload" class="btn">Submit</button>
            </form>
          </div>
      </div>
      <div class="col-6">
        <ul class="row list-unstyled">
        <% for(var i=0; i<posts.length; i++) {%>
          <li class="col-6 justify-content-between mt-5">
            <a href="/post/<%= posts[i]._id%>">
              <button class="btn btn-lg">
              <div>Location Name: <%= posts[i].title%></div>
              <div>Street Address: <%= posts[i].caption%></div>
              <div>Zip Code: <%= posts[i].zip%></div>
              <div>Amount Split: <%= posts[i].split%></div>
              </button>
            </a>
          </li>
        <% } %>
        </ul>
        <div class="row justify-content-center mt-5">
          <a href="/feed"><button class="btn" href="/feed">Return to Feed</button></a>
        </div>  
      </div>  
    </div>
  </div>
</div>
<%- include('partials/footer') -%>